<div class="summary col-md-12">
  <div class="code-climate">
    <div class="container p-3">
      <div class="title">
        <b>CodeClimate summary</b>
      </div>
      <% if !code_climate || code_climate.empty? -%>
        <div class="row">
          <div class="col-md-12 text-center mt-2">
            <span class="text-danger">No information available</span>
          </div>
        </div>
      <% else -%>
        <div class="info">
          <div class="item-list">
            <% code_climate.each_repository_rate do |letter, repositories_count| -%>
              <div>
                <%= repositories_count %> <%= 'repository'.pluralize(repositories_count) %> with
                <span class="text-primary"><b><%= letter %></b></span>
              </div>
            <% end -%>
            <div>
              <%= code_climate.repositories_without_cc_count %> <%= 'repository'.pluralize(code_climate.repositories_without_cc_count) %> without CodeClimate
            </div>
          </div>
          <div class="item-list">
            <span>Average of <b><%= code_climate.invalid_issues_count_average %> invalid</b> issues</span>
            <span>Average of <b><%= code_climate.wont_fix_issues_count_average %> won't fix</b> issues</span>
            <span>Average of <b><%= code_climate.open_issues_count_average %> open</b> issues</span>
          </div>
          <div>
            <%= link_to 'See report',
                        code_climate_department_path(department.name, filter_url_query),
                        class: 'btn btn-secondary'
            %>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
