<%= content_for :departments_dropdown do %>
  <div class="list-department">
    <select name="department_name" class="department-selection" form='nav-filter-form'>
      <% if params[:department_name].blank? %>
        <option selected value disabled>Choose a department</option>
      <% else %>
        <option value disabled>Choose a department</option>
      <% end %>
      <% all_departments_names.each do |name|%>
        <% if params[:department_name] == name %>
          <option selected value=<%= name %>> <%= name%> </option>
        <% else %>
          <option value=<%= name %>> <%= name %></option> %>
        <% end %>
      <% end %>
    </select>
  </div>
<% end %>
