<div class="summary col-md-12">
  <div class="overview">
    <div class="container p-3">
      <div class="title">
        <b>Overview</b>
      </div>
      <div class="info">
        <% overview.each do |language, language_overview| %>
          <div class="item-list">
            <span>
              <%= language_overview[:totals] %> <b><%= language.titleize %></b> <%= 'repository'.pluralize(language_overview[:totals]) %>, of which:
            </span>
            <% language_overview[:per_relevance].each do |relevance, project_count| %>
              <li><b><%= project_count %></b> <%= relevance %></li>
            <% end %>
          </div>
        <% end %>
        <div>
          <%= link_to 'See report',
                      department_repositories_by_relevance_index_path(params[:department_name], { metric: { period: params&.dig(:metric, :period) } }),
                      class: 'btn btn-secondary'
          %>
        </div>
      </div>
    </div>
  </div>
</div>
