<%= render 'development_metrics/departments_dropdown' %>
<%= render 'development_metrics/development_metrics_sidebar' %>

<div class="container-fluid">
  <div class="row">
      <div class="metrics-container col-md-12">
        <div class="row">
          <div class="col-md-12">
            <%= render 'shared/department/nav-filter' do |f|%>
              <div class="row">
                <div class="col-md-5 period-input">
                  <%= render 'shared/interval-filter', form: f %>
                </div>
                <div class="col-md-7">
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% if @overview %>
          <div class="row">
            <%= render 'development_metrics/department_overview', overview: @overview %>
          </div>
        <% end %>
        <div class="row">
          <%= render 'development_metrics/code_climate/code_climate_department_summary',
          department: @department, code_climate: @code_climate %>
        </div>
        <% if @department %>
          <div class="metrics shadow-box">
            <h4 class="p-3">Time to second review</h4>
            <div class="distribution-report-button mr-5 mb-2">
              <%= link_to 'See report',
                          department_time_to_second_review_prs_path(params[:department_name], { metric: { period: params&.dig(:metric, :period) } }),
                          class: 'btn btn-secondary'
              %>
            </div>
            <div class="graph">
              <%= render 'development_metrics/review_turnaround/main_metric', review_turnaround: @review_turnaround %>
            </div>
            <div class="graph details">
              <%= render 'development_metrics/review_turnaround/details_metric', review_turnaround: @review_turnaround %>
            </div>
          </div>
          <div class="metrics shadow-box">
            <h4 class="p-3">Time to merge</h4>
            <div class="distribution-report-button mr-5 mb-2">
              <%= link_to 'See report',
                          department_time_to_merge_prs_path(params[:department_name], { metric: { period: params&.dig(:metric, :period) } }),
                          class: 'btn btn-secondary'
              %>
            </div>
            <div class="graph">
              <%= render 'development_metrics/merge_time/main_metric', merge_time: @merge_time %>
            </div>
          </div>
          <div class="metrics shadow-box">
            <h4 class="p-3">PR Size</h4>
            <div class="graph">
              <%= render 'development_metrics/pull_request_size/main_metric', pull_request_size: @pull_request_size %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="body-empty-container col-md-12 d-flex justify-content-center align-items-center">
              <span>Please select a department to see its metrics</span>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
