<%= render 'development_metrics/development_metrics_sidebar', enabled_users_section: @enabled_users_section %>

<div class="col-md-12 text-center mt-2">
  <b><%= @project.product[:name] %></b>
</div>
<%= render 'development_metrics/navigation', product: @project.product %>

<div class="metrics-container container col-md-12">
  <%= render 'shared/project/nav-filter' do |f| %>
    <%= hidden_field_tag 'project_name', @project.name  %>
    <div class="row">
      <div class="col-md-5 period-input">
        <%= render 'shared/interval-filter', form: f %>
      </div>
    </div>
  <% end %>

  <% if @enabled_project_codeowners_section %>
    <%= render('code_owners', code_owners: @code_owners) unless @code_owners.nil? %>
  <% end %>
  <div class="row">
    <%= render 'development_metrics/code_climate/code_climate_project_summary', code_climate: @code_climate %>
  </div>
  <% if @project %>
    <div class="metrics shadow-box">
      <div class='row'>
        <h4 class="p-3" style='margin-left:10px;'><%= @review_turnaround_definition && @review_turnaround_definition[:name] %></h4>
        <span data-placement='right' class='metric_tooltip' style='margin-top: 1.5%;' aria-hidden='true' data-toggle='tooltip' title='<%= @review_turnaround_definition && @review_turnaround_definition[:explanation] %>'>?</span>
      </div>
      <div class="graph">
        <%= render 'development_metrics/review_turnaround/main_metric', review_turnaround: @review_turnaround %>
      </div>
      <% if @enabled_project_per_user_graph %>
        <div class="graph details">
          <%= render 'development_metrics/review_turnaround/details_metric', review_turnaround: @review_turnaround %>
        </div>
      <% end %>
    </div>

    <div class="metrics shadow-box">
      <div class='row'>
        <h4 class="p-3" style='margin-left:10px;'><%= @merge_time_definition && @merge_time_definition[:name] %></h4>
        <span data-placement='right' class='metric_tooltip' style='margin-top: 1.5%;' aria-hidden='true' data-toggle='tooltip' title='<%= @merge_time_definition && @merge_time_definition[:explanation] %>'>?</span>
      </div>
      <div class="graph">
        <%= render 'development_metrics/merge_time/main_metric', merge_time: @merge_time %>
      </div>
      <% if @enabled_project_per_user_graph %>
        <div class="graph details">
          <%= render 'development_metrics/merge_time/details_metric', merge_time: @merge_time %>
        </div>
      <% end %>
    </div>

    <div class="metrics shadow-box">
      <div class='row'>
        <h4 class="p-3" style='margin-left:10px;'><%= @pull_request_size_definition && @pull_request_size_definition[:name] %></h4>
        <span data-placement='right' class='metric_tooltip' style='margin-top: 1.5%;' aria-hidden='true' data-toggle='tooltip' title='<%= @pull_request_size_definition && @pull_request_size_definition[:explanation] %>'>?</span>
      </div>
      <div class="graph">
        <%= render 'development_metrics/pull_request_size/main_metric', pull_request_size: @pull_request_size %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="body-empty-container col-md-12 d-flex justify-content-center align-items-center">
        <span>Please select a project to see its metrics</span>
      </div>
    </div>
  <% end %>
</div>
