<%= render 'shared/project/sidebar'%>
<div class="col-md-10">
  <%= render 'shared/project/nav-filter' do |f|%>
    <div class="row">
      <div class="col-md-3">
        <%= render 'shared/interval-filter', form: f %>
      </div>
      <div class="col-md-8 col-md-offset-1">
      <%= render 'shared/code-climate-summary', code_climate: @code_climate %>
      </div>
    </div>
  <% end %>

  <%= render 'code_owners', code_owners: @code_owners%>

  <%= render 'development_metrics/review_turnaround/project', review_turnaround: @review_turnaround %>
  <%= render 'development_metrics/review_turnaround/users_project', review_turnaround: @review_turnaround %>

  <%= render 'development_metrics/merge_time/project', merge_time: @merge_time %>
</div>
