<%= render 'shared/project/sidebar'%>
<div class="col-md-10">
  <%= render 'shared/project/nav-filter' do |f|%>
    <div class="row">
      <div class="col-md-6 period-input">
        <%= render 'shared/interval-filter', form: f %>
      </div>
      <div class="col-md-6">
      <%= render 'shared/code-climate-summary', code_climate: @code_climate %>
      </div>
    </div>
  <% end %>

  <%= render('code_owners', code_owners: @code_owners) unless @code_owners.nil? %>

  <%= render 'development_metrics/review_turnaround/main_metric', review_turnaround: @review_turnaround %>
  <%= render 'development_metrics/review_turnaround/details_metric', review_turnaround: @review_turnaround %>

  <%= render 'development_metrics/merge_time/main_metric', merge_time: @merge_time %>
</div>
