<%= render 'development_metrics/development_metrics_sidebar', enabled_users_section: @enabled_users_section %>
  <div class="metrics-container">
    <div class="row title_sidebar">
        <div class="col-md-6">
          <strong class="rute_title_grey"><%= @repository.product[:name] +'/'%></strong>
          <strong class="rute_title"><%= @repository.name  if @repository.product.present? %></strong>
        </div>
        <div class="col-md-6 interval d-flex flex-row-reverse">
          <%= render 'shared/repository/nav-filter' do |f| %>
              <%= hidden_field_tag 'repository_name', @repository.name  %>
              <%= render 'shared/interval-filter', form: f %>
          <% end %>
        </div>
    </div>
    <% if @enabled_repository_codeowners_section %>
      <%= render('code_owners', code_owners: @code_owners) unless @code_owners.nil? %>
    <% end %>

    <%= render 'development_metrics/code_climate/code_climate_repository_summary', code_climate: @code_climate %>

    <% if @repository %>
      <div class="metrics">
        <div class='row'>
          <div class="col-md-6">
            <div class="box-title" >
              <%= @review_turnaround_definition && @review_turnaround_definition[:name] %>
              <% if @review_turnaround_success_rate.present? %>
                <span class="badge badge-info success_rate_btn">
                  <%= @review_turnaround_success_rate[:rate] %>% success rate
                </span>
              <% end %>
              <span data-placement='right' class='metric_tooltip' aria-hidden='true' data-toggle='tooltip' title='<%= @review_turnaround_definition && @review_turnaround_definition[:explanation] %>'>ยก</span>
            </div>
           </div>
          <div class="col-md-6">
            <div class="distribution-report-button mr-5">
              <%= link_to 'See details',
                          repository_time_to_second_review_prs_repository_index_path(@repository.name, { metric: { from: params&.dig(:metric, :from), to: params&.dig(:metric, :to) }}),
                          class: 'btn btn-detail'
              %>
             </div>
           </div>
        </div>
        <div class="graph">
          <% if !@review_turnaround[:per_repository][0][:data].empty? %>
          <%= render 'development_metrics/review_turnaround/main_metric', review_turnaround: @review_turnaround %>
          <% else %>
          <p>No data in this time period</p>
          <% end %>
        </div>
        <% if @enabled_repository_per_user_graph %>
          <div class="graph details">
            <%= render 'development_metrics/review_turnaround/details_metric', review_turnaround: @review_turnaround %>
          </div>
        <% end %>
      </div>
      <div class="metrics">
        <div class='row'>
          <div class="col-md-6">
            <div class="box-title" >
                <%= @merge_time_definition && @merge_time_definition[:name] %>
                <% if @merge_time_success_rate.present? %>
                  <span class="badge badge-info success_rate_btn">
                    <%= @merge_time_success_rate[:rate] %>% success rate
                  </span>
                <% end %>
               <span data-placement='right' class='metric_tooltip' aria-hidden='true' data-toggle='tooltip' title='<%= @merge_time_definition && @merge_time_definition[:explanation] %>'>ยก</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="distribution-report-button mr-5">
              <%= link_to 'See details',
                          repository_time_to_merge_prs_repository_index_path(@repository.name, { metric: { from: params&.dig(:metric, :from), to: params&.dig(:metric, :to) }}),
                          class: 'btn btn-detail'
              %>
            </div>
          </div>
        </div>
        <div class="graph">
          <%= render 'development_metrics/merge_time/main_metric', merge_time: @merge_time %>
        </div>
        <% if @enabled_repository_per_user_graph %>
          <div class="graph details">
            <%= render 'development_metrics/merge_time/details_metric', merge_time: @merge_time %>
          </div>
        <% end %>
      </div>
      <div class="metrics">
        <div class='row'>
          <div class="col-md-11">
            <div class="box-title" >
              <%= @pull_request_size_definition && @pull_request_size_definition[:name] %>
              <span data-placement='right' class='metric_tooltip' aria-hidden='true' data-toggle='tooltip' title='<%= @pull_request_size_definition && @pull_request_size_definition[:explanation] %>'>ยก</span>
            </div>
            <div class="graph">
              <%= render 'development_metrics/pull_request_size/main_metric', pull_request_size: @pull_request_size %>
            </div>
          </div>
        <div class="col-md-1">
          <div class="distribution-report-button mr-5">
            <%= link_to 'See details',
                        repository_pull_request_size_prs_repository_index_path(@repository.name, { metric: { from: params&.dig(:metric, :from), to: params&.dig(:metric, :to) }}),
                        class: 'btn btn-detail'
            %>
            </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="body-empty-container col-md-12 d-flex justify-content-center align-items-center">
          <span>Please select a repository to see its metrics</span>
        </div>
      </div>
    <% end %>
</div>

<%= build_bar_chart_modal(@repository.name, params&.dig(:metric, :from), params&.dig(:metric, :to)) %>
