<%= render 'development_metrics/development_metrics_sidebar', enabled_users_section: @enabled_users_section %>
  <%
    review_turnaround_presenter = RepositoryMetricPresenter.new(@review_turnaround, @review_turnaround_definition)
    merge_time_presenter = RepositoryMetricPresenter.new(@merge_time, @merge_time_definition)
    pull_request_size_presenter = RepositoryMetricPresenter.new(@pull_request_size, @pull_request_size_definition)
  %>

  <div class="metrics-container">
    <div class="row title_sidebar">
        <div class="col-md-6">
          <strong class="rute_title_grey"><%= @repository.product[:name] +'/'%></strong>
          <strong class="rute_title"><%= @repository.name  if @repository.product.present? %></strong>
        </div>
        <div class="col-md-6 interval d-flex flex-row-reverse">
          <%= render 'shared/repository/nav-filter' do |f| %>
              <%= hidden_field_tag 'repository_name', @repository.name  %>
              <%= render 'shared/interval-filter', form: f %>
          <% end %>
        </div>
    </div>
    <% if @enabled_repository_codeowners_section %>
      <%= render('code_owners', code_owners: @code_owners) unless @code_owners.nil? %>
    <% end %>

    <% if @repository %>
      <div class="metrics">
        <div class='row'>
          <div class="col-md-6">
            <div class="box-title" >
              <%= merge_time_presenter.metric_name %>
              <span data-placement='right' class='metric_tooltip' aria-hidden='true' data-toggle='tooltip' title='<%= merge_time_presenter.metric_explanation %>'>ยก</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="distribution-report-button mr-5">
              <%= link_to 'See details',
                          repository_time_to_merge_prs_repository_index_path(@repository.name, { metric: { from: params&.dig(:metric, :from), to: params&.dig(:metric, :to) }}),
                          class: 'btn btn-detail' if merge_time_presenter.per_repository_distribution_has_data_to_display?
              %>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-12">
            <div class="box-title" >
              <% if @merge_time_avg.present? %>
                <span class="badge badge-info success_rate_btn">
                  Average: <%= @merge_time_avg[:avg_number] %> hours
                </span>
              <% end %>
              <% if @merge_time_success_rate.present? %>
                <span class="badge badge-info success_rate_btn">
                  Success rate: <%= @merge_time_success_rate[:rate] %>%
                </span>
              <% end %>
              <% if @merge_time_avg.present? %>
                <span class="badge badge-info success_rate_btn">
                  Total: <%= @merge_time_avg[:total] %> PRs (bots excluded)
                </span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="graph">
        <% if merge_time_presenter.per_repository_has_data_to_display? && merge_time_presenter.per_repository_distribution_has_data_to_display? %>
            <%= render 'development_metrics/merge_time/main_metric', merge_time: merge_time_presenter.metric %>
        <% else %>
            <div class="p-3 text-center">
              <span class="text-danger extra-padding"><h5>No data to display for the selected period</h5></span>
            </div>
        <% end %>
        </div>
        <% if @enabled_repository_per_user_graph %>
          <div class="graph details">
            <%= render 'development_metrics/merge_time/details_metric', merge_time: merge_time_presenter.metric %>
          </div>
        <% end %>
      </div>
      <div class="metrics">
        <div class='row'>
          <div class="col-md-11">
            <div class="box-title" >
              <%= pull_request_size_presenter.metric_name %>
              <span data-placement='right' class='metric_tooltip' aria-hidden='true' data-toggle='tooltip' title='<%= pull_request_size_presenter.metric_explanation %>'>ยก</span>
            </div>
            <div class="box-title" >
              <% if @pull_request_size_avg.present? %>
                <span class="badge badge-info success_rate_btn">
                  Average: <%= @pull_request_size_avg[:avg_number].round %> lines
                </span>
              <% end %>
              <% if @pull_request_size_avg.present? %>
                <span class="badge badge-info success_rate_btn">
                  Total: <%= @pull_request_size_avg[:total] %> PRs (bots excluded)
                </span>
              <% end %>
            </div>
            <div class="graph">
              <% if pull_request_size_presenter.per_repository_distribution_has_data_to_display? %>
                <%= render 'development_metrics/pull_request_size/main_metric', pull_request_size: pull_request_size_presenter.metric %>
              <% else %>
                <div class="p-3 text-center">
                  <span class="text-danger extra-padding"><h5>No data to display for the selected period</h5></span>
                </div>
              <% end %>
            </div>
          </div>
        <div class="col-md-1">
          <div class="distribution-report-button mr-5">
            <%= link_to 'See details',
                        repository_pull_request_size_prs_repository_index_path(@repository.name, { metric: { from: params&.dig(:metric, :from), to: params&.dig(:metric, :to) }}),
                        class: 'btn btn-detail' if pull_request_size_presenter.per_repository_distribution_has_data_to_display?
            %>
            </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="body-empty-container col-md-12 d-flex justify-content-center align-items-center">
          <span>Please select a repository to see its metrics</span>
        </div>
      </div>
    <% end %>
</div>

<%= build_bar_chart_modal(@repository.name, params&.dig(:metric, :from), params&.dig(:metric, :to)) %>
