<div class="summary">
  <div class='chart-container <%if current_page?(products_development_metrics_path) && has_jira_project%>col-md-12 info'<% else %>'<% end %> >
    <% if has_jira_project %>
      <% if show_defect_escape_rate %>
        <div class="col">
          <div class="metrics" style="margin-right: 10px;" >
            <div class='row'>
              <div class="box-title" >
                <%= defect_escape_rate_definition && defect_escape_rate_definition[:name] %>
              </div>
              <span data-placement='right' class='metric_tooltip' style="right:10px" aria-hidden='true' data-toggle='tooltip' title='<%= defect_escape_rate_definition && defect_escape_rate_definition[:explanation] %>'>!</span>
            </div>
            <% if current_page?(products_metrics_development_metrics_path) %>
              <div class="metrics">
                <div class="graph">
                  <%= render 'development_metrics/defect_escape_rate/main_metric', defect_escape_rate: defect_escape_rate, details: true, defect_escape_rate_definition: defect_escape_rate_definition %>
                </div>
              </div>
            <% else %>
              <%= render partial: 'development_metrics/defect_escape_rate/values_details',
              locals: {
                metric: defect_escape_rate[:per_defect_escape_values].first[:data],
                details: false,
                defect_escape_rate_definition: defect_escape_rate_definition
              } if defect_escape_rate && defect_escape_rate[:per_defect_escape_values] %>
              <div class="distribution-report-button mr-3 mb-2"><%= link_to 'See details',
                        products_metrics_development_metrics_path({product_name: product[:name], metric: { period: params&.dig(:metric, :period), name: 'defect_escape_rate'}}),
                        class: 'btn btn-secondary'
              %></div>
            <% end %>
          </div>
            </div>
      <% end %>

      <% if show_development_cycle %>
        <div class="col">
          <div class="metrics" style="margin-right: 10px;">
            <div class='row'>
              <div class="box-title" ><%= development_cycle_definition && development_cycle_definition[:name] %></div>
              <span data-placement='right' class='metric_tooltip' style= "right:10px" aria-hidden='true' data-toggle='tooltip' title='<%= development_cycle_definition && development_cycle_definition[:explanation] %>'>!</span>
            </div>
            <%if current_page?(products_metrics_development_metrics_path)%>
              <div class="metrics">
                <div class="graph">
                  <%= render 'development_metrics/development_cycle/main_metric', development_cycle: development_cycle, development_cycle_definition: development_cycle_definition, details: true %>
                </div>
              </div>
            <% else %>
              <%= render partial: 'development_metrics/development_cycle/values_details',
              locals: {
                metric: development_cycle[:per_development_cycle_average].first[:data],
                details: false,
                development_cycle_definition: development_cycle_definition
              } if development_cycle %>
              <div class="distribution-report-button mr-3 mb-2">
                <%= link_to 'See details',
                  products_metrics_development_metrics_path({product_name: product[:name], metric: { period: params&.dig(:metric, :period), name: 'development_cycle'}}),
                  class: 'btn btn-secondary'
                %>
              </div>
            <% end %>
          </div>
            </div>
      <% end %>
      <% if show_planned_to_done %>
        <div class="col">
          <div class="metrics" style="margin-right: 10px;">
            <div class='row'>
              <div class="box-title" ><%= planned_to_done_definition && planned_to_done_definition[:name] %></div>
              <span data-placement='right' class='metric_tooltip' style="right:10px"  aria-hidden='true' data-toggle='tooltip' title='<%= planned_to_done_definition && planned_to_done_definition[:explanation] %>'>!</span>
            </div>
            <%if current_page?(products_metrics_development_metrics_path)%>
              <div class="metrics">
                <div class="graph">
                  <%= render 'development_metrics/planned_to_done/main_metric', planned_to_done: planned_to_done, details: true, planned_to_done_definition: planned_to_done_definition %>
                </div>
              </div>
            <% else %>
              <%= render partial: 'development_metrics/planned_to_done/values_details',
              locals: {
                metric: planned_to_done[:per_planned_to_done_average].first[:data],
                details: false,
                planned_to_done_definition: planned_to_done_definition
              } if planned_to_done && planned_to_done[:per_planned_to_done_average] %>
              <div class="distribution-report-button mr-3 mb-2"><%= link_to 'See details',
                        products_metrics_development_metrics_path({product_name: product[:name], metric: { period: params&.dig(:metric, :period), name: 'planned_to_done'}}),
                        class: 'btn btn-secondary'
              %></div>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <div class="metrics">
        <div class="text-center">
            <span class="text-danger extra-padding"><h5>No Jira project associated. Contact an administrator</h5></span>
        </div>
      </div>
    <% end %>
      </div>
  </div>
</div>
