<div class="sidebar-container">
  <div class="metric-filter">
    <div class="btn-group btn-entity-group">
        <%= button_to 'Project', projects_development_metrics_path, class: 'btn btn-secondary entity-btn', method: :get %>
        <%= button_to 'Department', departments_development_metrics_path, class: 'btn btn-secondary entity-btn', method: :get %>
        <%= button_to 'User', users_development_metrics_path, class: 'btn btn-secondary entity-btn active', method: :get %>
      </div>
    </div>
    <%= label_tag 'user_name', 'User Name'%>
    <%= select_tag 'user_name',
      options_for_select(
        all_users_names,
        selected: chosen_user,
        disabled: 0
      ),
      class: 'user-selection'
    %>
</div>
