<tr>
  <td>
    <%= link_to projects_development_metrics_path(
        {project_name: code_climate[:name], metric: { period: params&.dig(:metric, :period) }}
      ), class: 'project-name-link' do%>
        <%= "#{code_climate[:name]}"%>
    <%end%>
  </td>
  <td>
    <span class="h6 text-success"><%= code_climate[:code_climate_rate] %></span>
  </td>
  <td>
    <span class="code-climate-summary text-danger"><%= code_climate[:invalid_issues_count] %> invalid issues</span>
  </td>
  <td>
    <span class="code-climate-summary text-danger"><%= code_climate[:wont_fix_issues_count] %> won't fix issues</span>
  </td>
  <td>
    <span class="code-climate-summary text-danger"><%= code_climate[:open_issues_count] %> open issues</span>
  </td>
  <td>
    <span class="code-climate-summary">
      <% if code_climate[:test_coverage].present? %>
        <span class="text-success"><%= code_climate[:test_coverage] %> %</span>
      <% else %>
        <span class="text-muted">N/D</span>
      <% end %>
    </span>
  </td>
</tr>
