<tr>
  <td>
    <%= link_to projects_development_metrics_path(
        {project_name: code_climate[:name], metric: { period: params&.dig(:metric, :period) }}
      ), class: 'project-name-link' do %>
        <%= "#{code_climate[:name]}"%>
    <% end %>
  </td>
  <td>
    <div class="h6 text-success">
      <%= render 'code_climate_metric', metric: code_climate[:code_climate_rate], suffix: '' %>
    </div>
  </td>
  <td>
    <div class="text-success">
      <%= render 'code_climate_metric', metric: code_climate[:test_coverage], suffix: '%' %>
    </div>
  </td>
  <td>
    <div class="text-danger">
      <%= render 'code_climate_metric', metric: code_climate[:invalid_issues_count], suffix: 'invalid issues' %>
    </div>
  </td>
  <td>
    <div class="text-danger">
      <%= render 'code_climate_metric', metric: code_climate[:wont_fix_issues_count], suffix: "won't fix issues" %>
    </div>
  </td>
  <td>
    <div class="text-danger">
      <%= render 'code_climate_metric', metric: code_climate[:open_issues_count], suffix: 'open issues' %>
    </div>
  </td>
</tr>
