<h1> <%= t('mailer.notify_below_rate.body.notify') %></h1>
<p> <%= t('mailer.notify_below_rate.body.metric', metric: @metric_name) %>
    <% if @entity_is_repo-%>
        <%= t('mailer.notify_below_rate.body.repository', repository: @entity_name) %>
    <% else -%>
        <%= t('mailer.notify_below_rate.body.department', department: @entity_name) %>
    <% end -%>
    <%= t('mailer.notify_below_rate.body.threshold', threshold: @alert.threshold) %>.</p>
<br>
<p> <%= t('mailer.notify_below_rate.body.see_metric') %> 
    <% if @entity_is_repo -%>
        <%= link_to t('mailer.notify_below_rate.body.click_here'),
        repositories_development_metrics_url({repository_name: @entity_name, metric: { period: @alert.frequency }}),
        method: :post %>.</p>
    <% else -%>
        <%= link_to t('mailer.notify_below_rate.body.click_here'),
        departments_development_metrics_url({department_name: @entity_name, metric: { period: @alert.frequency }}),
        method: :post %>.</p>
    <% end -%>
<p> <%= t('mailer.notify_below_rate.body.see_settings') %>
    <% if @entity_is_repo -%>
        <%= link_to t('mailer.notify_below_rate.body.click_here'), 
        admin_settings_url(q: { key_eq: 'success_rate_' + @entity_name + '_' + @metric_name }),
        method: :post %>.</p>
    <% else -%>
        <%= link_to t('mailer.notify_below_rate.body.click_here'), 
        admin_settings_url(q: { key_eq: 'success_rate_' + @entity_name + '_' + @metric_name }),
        method: :post %>.</p>
    <% end -%>

