<%= render 'open_source/sidebar' %>
<div class="metrics-container">
  <div class="p-5">
    <span><strong><%= @total_repositories %></strong> open source <%= 'repository'.pluralize(@total_repositories) %>:</span>
    <% @repositories_per_language.each do |language, repository_count| %>
      <li><strong><%= repository_count %></strong> <%= language.titleize %> <%= 'repository'.pluralize(repository_count) %></li>
    <% end %>
  </div>
  <div class="main-container">
    <div class='open-source-chart'>
      <%= line_chart @visits_per_language.all_datasets, ytitle: "Weekly Repository Unique Visits" %>
    </div>
    <div class='metrics-summary-group' hidden>
      <span class='metrics-summary-item'>800 visits this month</span>
      <span class='metrics-summary-item'>3500 visits this year</span>
    </div>
  </div>
  <div class="main-container" hidden>
    <div class='open-source-chart'>
      <%= line_chart [{}], ytitle: "Stars" %>
    </div>
    <div class='metrics-summary-group'>
      <span class='metrics-summary-item'>56 new stars this month</span>
      <span class='metrics-summary-item'>3600 total stars</span>
    </div>
  </div>
</div>
