<!DOCTYPE html>
<html>
  <head>
    <title>Engineering Metrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content="<%= meta_image %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/alert'%>
    <div class="sidebar span4 hidden-phone sticky-top">
          <%= render 'shared/sidebar'%>
    </div>
    <div class="main">
        <div class="row-fluid">
        <%= yield %>
        </div>
    </div>
  </body>
</html>
