<!DOCTYPE html>
<html>
  <head>
    <title>Engineering Metrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content="<%= meta_image %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/sidebar'%>
        <div class='main-container col-md-10 offset-md-2'>
          <div class="row">
            <%= render 'layouts/navigation' %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
