<div class="col container-height shadow-box sticky-top">
  <div class="container-md">
    <div class="row p-3">
      <div class="btn-group entities-buttons">
        <%= button_to 'Project', project_development_metrics_path, class: 'btn btn-secondary entity-btn', method: :get %>
        <%= button_to 'Department', department_development_metrics_path, class: 'btn btn-secondary entity-btn active', method: :get %>
      </div>
      <label for="department_name">Department Name:</label>
      <select name="department_name" class="department-selection" form='nav-filter-form'>
        <% if params[:department_name].blank? %>
          <option selected value disabled>-select option-</option>
        <% else %>
          <option value disabled>-select option-</option>
        <% end %>
        <% all_departments_names.each do |name|%>
          <%if params[:department_name] == name %>
            <option selected value=<%= name %>> <%= name%> </option>
          <% else %>
          <option value=<%= name%>> <%= name%></option> %>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>
